<main>
    <div class="trending-posts">
        <h1>Trending Posts</h1>
        <ul>
            {{#each posts}}
            <li>
                <div class="post-li">
                    <a href="/posts/{{_id}}">{{topic}}</a>
                    <p>{{body}}</p>
                    <div class="post-details">
                        <p>Posted by {{userName}}</p>
                        <p>
                            Tags:
                            {{#each tags}}
                               #{{this}}
                            {{/each}}
                        </p>
                </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</main>
