<main>
    <h1>Reports</h1>
    {{#if user.admin}}
        {{#if (empt list)}}
            <h2>There are no reports</h2>
        {{/if}}
        {{#if (not (empt list))}}
        <ul>
            {{#each list}}
            <li>
                <a href="/posts/{{post._id}}">{{post.topic}}</a>
                <p>{{body}}</p>
                <form method="delete" action="/reports//deleteReported">
                <input type="hidden" name="postId" value="{{post._id}}">
                <input type="hidden" name="_id" value="{{_id}}">
                <button type="submit">Delete</button>
                </form>
            </li>
            {{/each}}
        </ul>
        {{/if}}
    {{/if}}
    {{#if (not user.admin)}}
        <div class="warning-container">
            <p>Only administrators can view reports!</p>
        </div>
    {{/if}}
</main>