<main>
    {{#if error}}
    <div class="error-container">
        <p>Comment cannot be empty!</p>
    </div>
    {{/if}}

    <div class="modal" id="report-modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" id="close-report">&times;</span>
                <h2>Report this post</h2>
            </div>
            <div class="modal-form">
                <div class="form-container">
                    <form id="report-form" action="/posts/{{post._id}}/createReport" method="post" autocomplete="off">
                        <label for="report">Briefly explain your concerns.</label>
                        <input type="text" name="report">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="edit-post-modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" id="close-edit-post">&times;</span>
                <h2>Edit this post</h2>
            </div>
            <div class="modal-form">
                <div class="form-container">
                    <form id="edit-post-form" action="/posts/{{post._id}}/edit" method="post" autocomplete="off">
                        <label for="topic">Topic</label>
                        <input type="text" id="topic" name="topic" value="{{post.topic}}">

                        <label for="body">Body</label>
                        <input type="text" id="body" name="body" value="{{post.body}}">

                        <label for="tags">Tags (optional)</label>
                        <div class="inform">
                            <p class="tagDesc">tags must be comma seperated words</p>
                            <p class="tagDesc">for example: computer science, python, recursion</p>
                        </div>
                        <input type="text" id="tags" name="tags" value="{{post.tags}}">

                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="delete-post-modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" id="close-delete-post">&times;</span>
                <h2>Delete this post</h2>
            </div>
            <div class="modal-form">
                <div class="form-container">
                    <form id="delete-post-form" action="/posts/{{post._id}}/delete" method="post">
                        <p>Are you sure you want to delete this post? All comments made under this post will also be deleted.</p>
                        <div class="delete-submit">
                            <input type="submit" value="Yes">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="post-container">
        <div class="button-container">
            {{#if user}}
                {{#if (eqid user.id post.userId)}}
                <div class="edit-delete-post-button-container">
                    <button class="edit-button" id="edit-post-button">Edit</button>
                    <button class="delete" id="delete-post-button">Delete</button>
                </div>
                {{/if}}
            <div class="report-button-container">
                <button class="report-button" id="report-button">Report</button>
            </div>
            {{/if}}
        </div>
        <h1>{{post.topic}}</h1>
        <h3>Posted by {{post.userName}}</h2>
        <p>{{post.body}}</p>
        <div class="post-details">
            <p>
                Tags:
                {{#each post.tags}}
                    #{{this}}
                {{/each}}
            </p>
            <p>Created on {{post.dateCreated}}</p>
        </div>
        {{#if user}}
        <div class="like-container">
            <div class="inner-like-container">
                <p id="likeCount">{{currentLikes}}</p>
            </div>
            <div class="inner-like-container">
                <button class="btn" id="like"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></button>
            </div>
            <div class="inner-like-container">
                <button class="btn" id="dislike"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i></button>
            </div>
        </div>
        {{/if}}
    </div>
    {{#if user}}
    <div class="form-container" id="comment-form-container">
        <form id="comment-form" action="/posts/{{post._id}}/comment" method="post" autocomplete="off">
            <label for="comment">Reply</label>
            <input type="text" name="comment">
            <input type="submit" value="Comment">
        </form>
    </div>
    {{/if}}
    <div class="comments-container">
        <h3>Comments</h3>
        <ul>
            {{#each commentsList}}
            <div class="comment-container">
                {{#if ../user}}
                    {{#if (eqid ../user.id userId)}}
                    <div class="edit-delete-comment-button-container">
                        <form id="delete-comment-form" action="/posts/{{../post._id}}/comment/{{_id}}/delete" method="post">
                        
                            <input type="submit" value="Delete">
                        
                        </form>
                        {{!-- <button class="delete" id="delete-comment-button">Delete</button> --}}

                    </div>
                    {{/if}}
                {{/if}}
                <p class="user">{{userName}}</p>
                <p>{{body}}</p>
            </div>
            {{/each}}
        </ul>
    </div>
</main>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

$(document).ready(function() {
    let status = '{{likeStatus}}';
    if (!status) {
        //do nothing
    }
    else if (status === 'like') {
        //likeButton.classList.add(" green");
        $('#like').addClass('green')
    } else if (status === 'dislike') {
        $('#dislike').addClass("red");
    } 

});


$('#like').click(function() {
    let id = '{{post._id}}';
    let userId = '{{post.userId}}';

    if ($('#like').hasClass('green')) {
        $('#like').removeClass('green');
    } else {
        $('#like').addClass('green');
    }
    if ($('#dislike').hasClass('red')) {
        $('#dislike').removeClass('red');
    }

    $.ajax({
    url: '/posts/addLike/' + id,// + '/' + userId,
    method: 'POST',
    success: function(data) {
        $('#likeCount').text(data.likeCount);
    }
    });
});


$('#dislike').click(function() {
    let id = '{{post._id}}';
    let userId = '{{post.userId}}';

    if ($('#dislike').hasClass('red')) {
        $('#dislike').removeClass('red');
    } else {
        $('#dislike').addClass('red');
    }
    if ($('#like').hasClass('green')) {
        $('#like').removeClass('green');
    }

    $.ajax({
    url: '/posts/addDislike/' + id,// + '/' + userId,
    method: 'POST',
    success: function(data) {
        $('#likeCount').text(data.likeCount);
    }
    });
});

</script>