<!--
    I'm assuming this page is for viewing posts that match the search
-->

<main>
    {{#if searchBy}}
        <h1>Results for "{{input}}"</h1>
        <h3>Searching by {{searchBy}}</h2>
    {{/if}}
    {{#if newPosts}}
        <h1>View newest posts</h1>
    {{/if}}
    <ul>
        {{#each posts}}
        <li>
            <div class="post-li">
                <a href="/posts/{{_id}}">{{topic}}</a>
                <p>{{body}}</p>
                <div class="post-details">
                    <p>Posted by {{userName}}</p>
                    <p>
                        Tags:
                        {{#each tags}}
                           #{{this}}
                        {{/each}}
                    </p>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</main>