<!--
    I'm assuming this page is for viewing posts that match the search
-->

<main>
    {{#if searchBy}}
        <h1>Results for "{{input}}"</h1>
        <h3>Searching by {{searchBy}}</h2>
        <ul>
            {{#each posts}}
            <li>
                <div class="post-li">
                    <a href="/posts/{{_id}}">{{topic}}</a>
                    <p>{{body}}</p>
                    <div class="post-details">
                        <p>Posted by {{userName}}</p>
                        <p>
                            Tags:
                            {{#each tags}}
                               #{{this}}
                            {{/each}}
                        </p>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    {{/if}}
    {{#if newPosts}}
        <div class="tab">
            <button class="tablinks" id="posts-newest-button" onclick="showTab(event, 'posts-newest')">Newest</button>
            <button class="tablinks" onclick="showTab(event, 'posts-most-commented')">Most Commented</button>
            <button class="tablinks" onclick="showTab(event, 'posts-most-liked')">Most Liked</button>
        </div>
        <div class="tabcontent" id="posts-newest">
            <h1>Newest Posts</h1>
            <ul>
            {{#each posts.newest}}
                <li>
                    <div class="post-li">
                        <a href="/posts/{{_id}}">{{topic}}</a>
                        <p>{{body}}</p>
                        <div class="post-details">
                            <p>Posted by {{userName}}</p>
                            <p>
                                Tags:
                                {{#each tags}}
                                   #{{this}}
                                {{/each}}
                            </p>
                        </div>
                    </div>
                </li>
            {{/each}}
            </ul>
        </div>
        <div class="tabcontent" id="posts-most-commented">
            <h1>Most Commented Posts</h1>
            <ul>
            {{#each posts.mostCommented}}
                <li>
                    <div class="post-li">
                        <a href="/posts/{{_id}}">{{topic}}</a>
                        <p>{{body}}</p>
                        <div class="post-details">
                            <p>Posted by {{userName}}</p>
                            <p>
                                Tags:
                                {{#each tags}}
                                   #{{this}}
                                {{/each}}
                            </p>
                        </div>
                    </div>
                </li>
            {{/each}}
            </ul>
        </div>
        <div class="tabcontent" id="posts-most-liked">
            <h1>Most Liked Posts</h1>
            <ul>
            {{#each posts.mostLiked}}
                <li>
                    <div class="post-li">
                        <a href="/posts/{{_id}}">{{topic}}</a>
                        <p>{{body}}</p>
                        <div class="post-details">
                            <p>Posted by {{userName}}</p>
                            <p>
                                Tags:
                                {{#each tags}}
                                   #{{this}}
                                {{/each}}
                            </p>
                        </div>
                    </div>
                </li>
            {{/each}}
            </ul>
        </div>
    {{/if}}
</main>